		<!-- NAVIGATION -->
		<nav id="navigation">
			<!-- container -->
			<div class="container">
				<!-- responsive-nav -->
				<div id="responsive-nav">
					<!-- NAV -->
					<ul class="main-nav nav navbar-nav">
						<li class="active"><a href="#">Главная страница</a></li>
						<li><a href="#">Горячие предложения</a></li>
						<li><a href="#">Категории</a></li>
						<li><a href="#">Ноутбуки</a></li>
						<li><a href="#">Смартфоны</a></li>
						<li><a href="#">Камеры</a></li>
						<li><a href="#">Аксесуары</a></li>
					</ul>
					<!-- /NAV -->
				</div>
				<!-- /responsive-nav -->
			</div>
			<!-- /container -->
		</nav>
		<!-- /NAVIGATION -->